[Service]
WorkingDirectory = /home/codio/jeroo/jeroo-server
User = codio
Group = codio
TimeoutStopSec = 10
ExecStart = /tmp/jeroo-server.sh
Restart = always

[Unit]
Description = codio jeroo
After = network.target

[Install]
WantedBy = multi-user.target