---
- hosts: 127.0.0.1
  become: true
  tasks:  
    - apt: update_cache=yes  
    
    - name: Install a list of packages
      apt:
        name:
          - build-essential
          - manpages-dev
          - gdb
          - bison
          - autoconf
          - automake
        state: present
        update_cache: yes       
       